.header{
    height: 80px;
    width: 100%;
    display: block;
    background: linear-gradient(269.65deg, #001E30 5.31%, rgba(140, 0, 250, 0) 84.47%, rgba(242, 250, 255, 0.114583) 96.5%);
}

.inner_header{
width: 70%;
height: 100%;
display: block;
margin: auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
color: #001E30;
height: 100%;
display: table-cell;
vertical-align: middle;
font-size: 32px;
font-weight: 200;
}

.logo_container h1 span{
    font-weight: 800;
} 

.navigation{
float: right;
height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px  ;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;

}

.animation_image{
    transition: 2s;

}

.animation_image :hover{
    transform: scale(1.2);
}





